<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!-- links -->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://kit.fontawesome.com/b7a2ac83f3.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;700&family=Permanent+Marker&display=swap"
      rel="stylesheet">
  </head>
  <body>
    <header>
      <div class="logo">
        <a href="/">
          <img src="https://cdn.discordapp.com/attachments/882362353507778613/974779547377627216/logokjhgfdxsz.png" alt="logo">
          <!-- <i class="fa-regular fa-pot-food"></i>
          <h3>Vegetableegy</h3> -->
        </a>
      </div>

      <nav>
        <a href="/menu">Menu</a>
        <a href="/order">Order Now</a>
      </nav>

      <div class="cart">
        <a href="/cart">
            <i class="fa-solid fa-cart-shopping"></i>
        </a>
      </div>
    </header>

    <div class="main_section">
      <img src="https://images.pexels.com/photos/6937456/pexels-photo-6937456.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260" alt="">

      <div class="section_info">
        <h1>Vegetableegy</h1>
        <br>
        <p>Welcome to <%= title %> sit amet consectetur adipisicing elit. Natus voluptates iste ipsum beatae cumque sequi provident deleniti veniam? Harum necessitatibus est nesciunt saepe exercitationem tenetur voluptatibus eius culpa impedit animi!</p>
        <br><br><br>
        <a href="">Order Now</a>
      </div>
      
    </div>

    <footer>
      <section>
        <div class="one">
          <h1>Veg Info</h1><br>
          <a href="#">About veg</a>
          <a href="#">Menu</a>
          <a href="#">Food Quality</a>
          <a href="#">News & Press</a>
        </div>
    
        <div class="two">
          <h1>My Veg</h1><br>
          <a href="#">Veg app</a>
          <a href="#">Gift cards</a>
          <a href="#">Reload card</a>
          <a href="#">Check card balance</a>
        </div>
    
        <div class="three">
          <h1>Careers</h1><br>
          <a href="#">Careers home</a>
          <a href="#">Opportunities</a>
          <a href="#">Apply</a>
        </div>
    
        <div class="four">
          <h1>Veg cares</h1><br>
          <a href="#">Nutrition Explorer</a>
          <a href="#">Privacy Policy</a>
          <a href="#">Veg foundation</a>
          <a href="#">Diversity</a>
        </div>
      </section>
    
      <a href="/admin">ad</a>
    </footer>

 </body>
</html>
