/* @import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;500;700&display=swap'); */


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body{
  background-image: url(https://images.pexels.com/photos/3473569/pexels-photo-3473569.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
  background-attachment: fixed;
  background-size: cover;
}

/* HEADER***************************** */
header{
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: #343434;
  position: sticky;
  top: 0%;
  z-index: 1000;
}

.logo img{
  width: 40%;
  padding: 2%;
  /* border: 1px solid red; */
}
/* --------------------------------------- */
/* .logo{
  display: flex;
}
.logo a{
  text-decoration: none;
  padding: 2%;
}
.fa-pot-food{
  border: 1px solid red;
  color: #3ef900;
  font-size: 90px;
} */
/* --------------------------------------- */
nav{
  width: 50%;
}
nav a{
  text-decoration: none;
  padding: 3% 5%;
  /* border: 1px solid red; */
  color: white;
}
nav a:hover{
  color: #3ef900;
}

.fa-cart-shopping{
  color: #3ef900;
  font-size: 20px;
  padding: 20%;
  /* border: 1px solid red; */
}

/*  INDEX SECTION***************************** */
.main_section{
  /* border: 1px solid red; */
  width: 100%;
  height: 89vh;
  overflow: hidden;
  background: black;
  position: relative;
}
.main_section img{
  width: 100%;
  opacity: 0.4;
}

.section_info{
  /* border: 1px solid red; */
  position: absolute;
  top: 5%;
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
}
.section_info h1{
  /* border: 1px solid red; */
  font-family: 'Brush Script MT', cursive;
  font-weight: 100;
  letter-spacing: 2px;
  font-size: 60px;
}
.section_info p{
  color: rgba(255, 255, 255, 0.8);
}
.section_info a{
  /* border: 1px solid red; */
  border-radius: 10px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
  background: #1d7101;
  padding: 1% 2%;
}
.section_info a:hover{
  background: #3ef900;
}



/* font-family: 'MuseoModerno',
cursive; */


/* CARDS***************************** */
.cards_container{
  /* border: 1px solid red; */
  display: flex;
  flex-wrap: wrap;
  
}

.card{
  width: 25%;
  height: 450px;
  border: 2px solid grey;
  border-radius: 20px;
  margin: 3% 4%;
  text-align: center;
  padding: 1%;
  color: white;
  position: relative;
}
.card:hover{
  background: #292929;
}

.item_picture img{
  width: 60%;
  border-radius: 50%;
  margin-left: 50%;
  transform: translateX(-50%);
  border: 4px solid grey;
}

.item_price b{
  color: #3ef900;
}

.add_to_cart p{
  /* border: 1px solid red; */
  width: 50%;
  background: #3ef900;
  padding: 2%;
  border-radius: 30px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

/* FOOTER***************************** */
footer {
  background: #343434;
  padding: 5%;
  position: relative;
}

footer section {
  display: flex;
  justify-content: space-evenly;
}

.one,
.two,
.three,
.four {
  display: flex;
  flex-direction: column;
}

.one h1,
.two h1,
.three h1,
.four h1 {
  font-family: 'Permanent Marker', cursive;
  font-weight: lighter;
  color: #1d7101;
}

.one a,
.two a,
.three a,
.four a {
  text-decoration: none;
  color: white;
  padding: 2% 0;
}

.one a:hover,
.two a:hover,
.three a:hover,
.four a:hover {
  text-decoration: underline #3ef900;
}

/* admin login*********************** */
footer>a {
  border: 1px solid red;
  text-decoration: none;
  color: #343434;
  position: absolute;
  right: 0;
  bottom: 0;
}

/* table container*********************** */
.table_container{
  /* border: 1px solid red; */
  width: 80vw;
  margin-left: 50%;
  transform: translateX(-50%);
}
.table_container table{
  background: white;
}

/* update icons*********************** */
table tbody tr td>a {
  text-decoration: none;
  padding: 5%;
}
.fa-file-pen{
color: blue;
}
.fa-trash{
  color: red;
}


/*add glow, grey hover, grey border, style btn